* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #FFFFFF;
    margin: 0;
}

.navtop {
    background-color: rgba(0, 0, 0, 0.90);
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.nvatop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid;
    font-weight: bold;
}

.buttons {
    display: block;
    background-color: #30b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: white;
    width: 200px;
    margin-top: 15px;
    border-radius: 5px;
}

#chatty {
    display: inline-block;
    text-decoration: none;
    background-color: lightseagreen;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}

.comment:first-of-type {
    margin-top: 25px;
}

.comment:nth-child(odd) {
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 10px;
    background: lightblue;
    max-width: 400px;
}

.comment:nth-child(even) {
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 10px;
    background: lightgreen;
    max-width: 400px;
}

.comment:after {
    display: block;
    width: 0;
    content: "";
    border: 15px solid transparent;
    border-left-style: lightblue;
    border-right: 0;
}

.buttons .btn-red {
    background-color: red;
}

.buttons .btn-green {
    background-color: #30b673;
}

.buttons .btn-grey {
    background-color: grey;
}

.btns btn {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}

.create_btn {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    opacity: 0.85;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}

.create_btn:hover {
    opacity: 1;
}

.status_btn_open {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    color: black;
    background-color: #0f5cd1;
    opacity: 0.9;
    padding: 10px 15px;
    margin: 10px 10px 10px 10px;
}

.status_btn_open:hover {
    opacity: 1;
}

.status_btn_closed {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    color: black;
    background-color: red;
    opacity: 0.9;
    padding: 10px 15px;
    margin: 10px 10px 10px 10px;
}

.status_btn_closed:hover {
    opacity: 1;
}

.status_btn_onhold {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    color: black;
    background-color: #f3f70c;
    opacity: 0.9;
    padding: 10px 15px;
    margin: 10px 10px 10px 10px;
}

.status_btn_onhold:hover {
    opacity: 1;
}

.status_btn_resolved {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    color: black;
    background-color: #38b673;
    opacity: 0.9;
    padding: 10px 15px;
    margin: 10px 10px 10px 10px;
}

.status_btn_resolved:hover {
    opacity: 1;
}

.home .tickets-list {
    display: flex;
    flex-flow: column;
}

.home .tickets-list .ticket {
    padding: 15px 0;
    width: 100%;
    border-bottom: solid 1px;
    display: flex;
    text-decoration: none;
}

.home .tickets-list .ticket .con {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.home .tickets-list .ticket i {
    text-align: center;
    width: 80px;
    color: #b3b3b3;
}

.home .tickets-list .ticket .title {
    font-weight: 600;
    color: white;
}

.home .tickets-list .ticket .created {
    flex-grow: 1;
    align-items: flex-end;
    color: grey;
    font-size: 14px;
}

.home .tickets-list .ticket:last-child {
    border-bottom: 0;
}

.home .tickets-list .ticket:hover {
    background-color: #fcfcfc;
}

.tickets_table {
    border-collapse: collapse;
    width: 100%;
}

.tickets_table td, .tickets_table th {
    border: 1px solid;
    padding: 8px;
}

.tickets_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tickets_table tr:hover {
    background-color: #ddd;
}

.tickets_table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
}

.view h2 .open {
    color: #30b673;
}

.view h2 .resolved {
    color: #30b673;
}

.view h2 .onhold {
    color: grey;
}

.view h2 .closed {
    color: red;
}

.view .ticket {
    padding: 20px 0;
}

.aview .ticket .created {
    color: grey;
}

.view .comments {
    margin-top: 15px;
    border-top: 1px solid;
}

.view .comments .comment {
    display: flex;
    padding-bottom: 5px;
}

.view .comments .comment div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 65px;
    color: #e6e6e6;
    transform: scaleX(-1);
}

.view .comments .comment p {
    margin: o o 20px 0;
}

.view .comments .comment p span {
    display: flex;
    font-size: 14px;
    padding-bottom: 5px;

}

.create form, .view form {
    padding: 15px 0;
    display: flex;
    flex-flow: column;
    width: 400px;
}

.create form label, .view form label {
    display: inline-flex;
    width: 100%;
    padding: 10px 0;
    margin-right: 25px;
}

.create form input, .create form textarea, .view form input, .view form textarea {
    padding: 10px;
    width: 100%;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid;
}

.create form textarea, .view form textarea {
    height: 200px;
}

.create form input[type="submit"], .view form input[type="submit"] {
    display: block;
    background-color: #30b673;
    opacity: 0.9;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: white;
    width: 200px;
    margin-top: 15px;
    border-radius: 5px;
}

.create form input[type="submit"], .view form input[type="submit"]:hover {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }

    .content {
        margin-left: 8px;
        margin-right: 8px;
        width: fit-content;
    }

    table, tr, th, td {
        display: block;
        width: 99%;
    }

    .tickets_table tr {
        margin: 0 0 1rem 0;
    }

    .tickets_table th {
        position: abosulute;
        display: none;
    }

    .tickets_table td {
        border: none;
        border-bottom: 1px solid white;
        position: relative;
        padding-left: 50%;
    }

    .tickets_table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {content: "ID";}
    td:nth-of-type(2):before {content: "User";}
    td:nth-of-type(3):before {content: "Title";}
    td:nth-of-type(4):before {content: "Message";}
    td:nth-of-type(5):before {content: "Date";}
    td:nth-of-type(6):before {content: "Status";}

    .create form input[type="submit"], .view form input[type="submit"] {
    margin-left: 25%;
    }
}